[Unit]
Description=Weekly gb-chroot target update (Friday 22:00)

[Timer]
OnCalendar=Fri *-*-* 22:00:00
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
