[Unit]
Description=gb-chroot host world update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/gb-update-host
StandardOutput=journal
StandardError=journal
SyslogIdentifier=gb-update
